# ============================================
# API КЛЮЧИ ДЛЯ ПАРСИНГА
# ============================================

SJ_KEY="Ваш ключ от SuperJob"

# ============================================
# НАСТРОЙКИ ПАРСИНГА
# ============================================

# Поисковый запрос
SEARCH_QUERY=Python junior разработчик

# Максимальное количество страниц для парсинга
MAX_PAGES=0

# Интервал проверки в часах
CHECK_HOURS=6